@import url(../revolution/css/navigation.css);
@import url(../revolution/css/layers.css);
/* line 7, /Users/peterdo/dev/winaked-corporate-website/src/_scss/rev-slider.scss */
iframe {
  border: 0; }

/* Bullets
-------------------------------------------------------*/
/* line 11, /Users/peterdo/dev/winaked-corporate-website/src/_scss/rev-slider.scss */
.tp-bullet {
  background-color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 8px !important;
  height: 8px !important;
  display: inline-block;
  -webkit-transition: background-color 0.2s, border-color 0.2s;
  transition: background-color 0.2s, border-color 0.2s;
  float: none !important; }

/* line 27, /Users/peterdo/dev/winaked-corporate-website/src/_scss/rev-slider.scss */
.tp-bullet.selected,
.tp-bullet:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #0061d5;
  width: 8px !important;
  height: 8px !important; }

/* Arrows
-------------------------------------------------------*/
/* line 41, /Users/peterdo/dev/winaked-corporate-website/src/_scss/rev-slider.scss */
.custom.tparrows,
.custom.tparrows:hover {
  background-color: transparent; }

/* line 46, /Users/peterdo/dev/winaked-corporate-website/src/_scss/rev-slider.scss */
.custom.tparrows:before {
  font-family: "Themify";
  font-size: 30px; }

/* line 51, /Users/peterdo/dev/winaked-corporate-website/src/_scss/rev-slider.scss */
.custom.tparrows.tp-leftarrow:before {
  content: '\e629'; }

/* line 55, /Users/peterdo/dev/winaked-corporate-website/src/_scss/rev-slider.scss */
.custom.tparrows.tp-rightarrow:before {
  content: '\e628'; }

/*-------------------------------------------------------*/
/* Onepage
/*-------------------------------------------------------*/
/* line 64, /Users/peterdo/dev/winaked-corporate-website/src/_scss/rev-slider.scss */
.tp-caption.hero-text {
  color: #fff;
  text-shadow: none;
  font-weight: 100;
  line-height: 60px;
  font-family: "Poppins", sans-serif;
  margin: 0px;
  border-width: 0px;
  border-style: none;
  white-space: nowrap; }

/* line 76, /Users/peterdo/dev/winaked-corporate-website/src/_scss/rev-slider.scss */
.tp-caption.uppercase {
  letter-spacing: 0.05em;
  text-transform: uppercase; }

/* line 81, /Users/peterdo/dev/winaked-corporate-website/src/_scss/rev-slider.scss */
.tp-caption.medium-text {
  color: #fff;
  font-size: 20px;
  line-height: 28px;
  font-family: "Lato", sans-serif;
  margin: 0px;
  border-width: 0px;
  border-style: none;
  white-space: nowrap; }
  /* line 91, /Users/peterdo/dev/winaked-corporate-website/src/_scss/rev-slider.scss */
  .tp-caption.medium-text.alt-font {
    font-style: italic; }

/* line 96, /Users/peterdo/dev/winaked-corporate-website/src/_scss/rev-slider.scss */
.tp-caption.alt-font {
  font-family: "Lora", serif; }

/* line 100, /Users/peterdo/dev/winaked-corporate-website/src/_scss/rev-slider.scss */
.tp-caption.hero-text.style-2 {
  font-size: 64px;
  font-weight: 400;
  letter-spacing: 0.2em; }

/* line 106, /Users/peterdo/dev/winaked-corporate-website/src/_scss/rev-slider.scss */
.tp-caption.size-120 {
  font-size: 120px; }

/* line 107, /Users/peterdo/dev/winaked-corporate-website/src/_scss/rev-slider.scss */
.tp-caption.size-70 {
  font-size: 70px; }

/* line 108, /Users/peterdo/dev/winaked-corporate-website/src/_scss/rev-slider.scss */
.tp-caption.size-64 {
  font-size: 64px; }

/* line 109, /Users/peterdo/dev/winaked-corporate-website/src/_scss/rev-slider.scss */
.tp-caption.size-60 {
  font-size: 60px; }

/* line 111, /Users/peterdo/dev/winaked-corporate-website/src/_scss/rev-slider.scss */
.tp-caption.nocaps {
  text-transform: none;
  letter-spacing: 0; }

/* line 116, /Users/peterdo/dev/winaked-corporate-website/src/_scss/rev-slider.scss */
.tp-caption.dark {
  color: #121212; }

/* line 117, /Users/peterdo/dev/winaked-corporate-website/src/_scss/rev-slider.scss */
.tp-caption.grey {
  color: #7a7a7a; }

/* line 119, /Users/peterdo/dev/winaked-corporate-website/src/_scss/rev-slider.scss */
.tp-caption.small-text {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: "Open sans", sans-serif;
  margin: 0px;
  border-width: 0px;
  border-style: none;
  white-space: nowrap;
  text-shadow: none; }

/* line 132, /Users/peterdo/dev/winaked-corporate-website/src/_scss/rev-slider.scss */
.tp-caption.hero-line {
  content: "";
  border-bottom: 3px solid #fff;
  width: 55px; }

/* line 138, /Users/peterdo/dev/winaked-corporate-website/src/_scss/rev-slider.scss */
.tp-caption a,
.tp-caption a:hover {
  color: #fff; }

/* line 143, /Users/peterdo/dev/winaked-corporate-website/src/_scss/rev-slider.scss */
.rev-offset {
  height: 0;
  position: absolute;
  top: 0;
  opacity: 0;
  left: 0;
  z-index: -1; }

@media (max-width: 991px) {
  /* line 153, /Users/peterdo/dev/winaked-corporate-website/src/_scss/rev-slider.scss */
  .rev-offset {
    height: 60px; } }

/*# sourceMappingURL=../../sass */